<h1>Logowanie</h1>
    <div class="row">
        <div class="col-md-4">
            <h3>Login</h3>
            <input id="Login" type="text" />
            <h3>Hasło</h3>
            <input id="Haslo" type="text" />
            </div>
        </div>
    <p></p>
    <input id="Button1" type="button" value="Zaloguj" />
    <div>
        <a asp-action="Index">Powrót</a>
    </div>